@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.about {
  width: 55%;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.137);
}

.freemelly {
  display: flex;
  justify-content: center;
}

.about-text {
  color: #000000;
  text-align: justify;
}

.mellyphoto {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.mellyphoto img {
  width: 70%;
  border-radius: 10px;
}

li {
  list-style: none;
}

.menu {
  display: inline-block;
  position: fixed;
  background: transparent;
  z-index: 9999999999;
  transition: 0.4s;
}
.menu .btnnav {
  display: block;
  cursor: pointer;
  padding: 20px;
  transition: 0.4s;
}
.menu .btnnav .bar {
  width: 40px;
  height: 4px;
  background: #ffffff;
  margin-bottom: 7px;
  transition: 0.4s;
}
.menu .btnnav .bar:last-child {
  margin-bottom: 0px;
}
.menu nav {
  position: absolute;
  left: 20px;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.7);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.185);
}
.menu nav a {
  color: #222;
  padding: 10px 30px;
  display: block;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  text-decoration: none;
}

.menu.active .btnnav #line1 {
  transform: rotate(-405deg) translate(-8px, 8px);
}

.menu.active .btnnav #line2 {
  opacity: 0;
}

.menu.active .btnnav #line3 {
  transform: rotate(405deg) translate(-7px, -7px);
}

.menu nav li:last-child a {
  border-bottom: 0px;
}
.menu nav a:hover {
  color: whitesmoke;
  background: #000;
}
.menu .menu_show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  z-index: 9;
}

main {
  height: auto;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.titlesinger1 {
  height: 141px;
  width: 613px;
}

.titlesinger2 {
  height: 141px;
  width: 660px;
}

.titlesinger3 {
  height: 141px;
  width: 765px;
}

.titlesinger4 {
  height: 141px;
  width: 995px;
}

.titlesinger {
  color: #000000;
  font-size: 52px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.titlesinger h1 {
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}

.titlesinger button {
  color: #000000;
  background: #ffffff;
  font-size: 20px;
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
  border: 1.5px solid #000000;
  font-weight: 600;
  visibility: hidden;
  transition: 0.4s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.4s;
}

.titlesinger button:hover {
  color: #ffffff;
  background: #000000;
}

.titlesinger:hover h1 {
  opacity: 0;
  transition: opacity 0.4s;
}

.titlesinger:hover button {
  opacity: 1;
  transition: opacity 0.4s;
}

.displayNone2 {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-out;
}

.displayNone2.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-out;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  color: #ffffff;
}

#header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: black;
}
.header-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.header-title {
  color: #ffffff;
  font-weight: 500;
  writing-mode: horizontal-rl;
  text-orientation: upright;
  font-size: calc(7.5rem - 1rem);
  text-align: center;
  z-index: 4;
}

.header-warning {
  color: #ffffff;
  font-weight: 500;
  writing-mode: horizontal-rl;
  text-orientation: upright;
  display: none;
  font-size: calc(5rem - 1rem);
  text-align: center;
  z-index: 4;
}
.header-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 3;
}
.header-image {
  min-width: 80%;
  min-height: 100%;
  position: absolute;
  object-fit: cover;
  filter: brightness(0.6);
  z-index: 2;
}

.seemore button {
  color: #ffffff;
  background: #000000;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 80px;
  padding: 15px 45px;
  cursor: pointer;
  border: 1.5px solid #000000;
  font-weight: 500;
  transition: 0.4s;
}

.seemore button:hover {
  color: #ffffff;
  background: #383838;
  border: 1px solid #383838;
}

.post {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 500px;
  border-radius: 20px 20px 0px 0px;
  transition: 0.3s;
}

.left {
  min-width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  z-index: 9;
}

.image1 {
  width: 500px;
  height: 500px;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../img/ynwmelly1.jpg);
  background-size: cover;
  transition: 0.5s;
}

.image2 {
  width: 500px;
  height: 500px;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../img/ynwmelly2.png);
  background-size: cover;
  transition: 0.5s;
}

.image3 {
  width: 500px;
  height: 500px;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../img/ynwmelly3.jpg);
  background-size: cover;
  transition: 0.5s;
}

.image4 {
  width: 500px;
  height: 500px;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../img/ynwbslime1.jpg);
  background-size: cover;
  transition: 0.5s;
}

.image5 {
  width: 500px;
  height: 500px;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../img/ynwbslime2.jpg);
  background-size: cover;
  transition: 0.5s;
}

.image6 {
  width: 500px;
  height: 500px;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../img/ynwbslime3.png);
  background-size: cover;
  transition: 0.5s;
}

.image7 {
  width: 500px;
  height: 500px;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../img/ynwbortlen1.jpg);
  background-size: cover;
  transition: 0.5s;
}

.image8 {
  width: 500px;
  height: 500px;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../img/ynwbortlen2.jpg);
  background-size: cover;
  transition: 0.5s;
}

.image9 {
  width: 500px;
  height: 500px;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../img/ynwbortlen3.jpg);
  background-size: cover;
  transition: 0.5s;
}

.btn {
  width: 10px;
  height: 10px;
  position: absolute;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.45);
  z-index: 9;
  transition: 0.4s;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.4);
  background-color: rgb(151, 142, 125);
  border: 1px solid rgb(255, 255, 255);
}

#btnA1,
#btnA2,
#btnA3,
#btnA4,
#btnA5,
#btnA6,
#btnA7,
#btnA8,
#btnA9 {
  transition: 0.4s;
}

#btn1 {
  top: 25px;
  left: 275px;
}

#btn2 {
  top: 200px;
  left: 285px;
}

#btn3 {
  top: 250px;
  left: 197px;
}

#btn4 {
  top: 470px;
  left: 220px;
}

#btn5 {
  top: 65px;
  left: 235px;
}

#btn6 {
  top: 140px;
  left: 280px;
}

#btn7 {
  top: 230px;
  left: 230px;
}

#btn8 {
  top: 415px;
  left: 190px;
}

#btn9 {
  top: 55px;
  left: 175px;
}

#btn10 {
  top: 180px;
  left: 250px;
}

#btn11 {
  top: 280px;
  left: 170px;
}

#btn12 {
  top: 227px;
  left: 276px;
}

#btn13 {
  top: 330px;
  left: 255px;
}

#btn14 {
  top: 485px;
  left: 330px;
}

#btn15 {
  top: 138px;
  left: 260px;
}
#btn16 {
  top: 185px;
  left: 330px;
}
#btn17 {
  top: 270px;
  left: 230px;
}
#btn18 {
  top: 445px;
  left: 155px;
}
#btn19 {
  top: 180px;
  left: 295px;
}
#btn20 {
  top: 290px;
  left: 415px;
}
#btn21 {
  top: 398px;
  left: 230px;
}
#btn22 {
  top: 425px;
  left: 355px;
}
#btn23 {
  top: 160px;
  left: 315px;
}
#btn24 {
  top: 338px;
  left: 240px;
}
#btn25 {
  top: 475px;
  left: 275px;
}

#btn28 {
  top: 25px;
  left: 245px;
}
#btn29 {
  top: 170px;
  left: 315px;
}
#btn30 {
  top: 258px;
  left: 230px;
}
#btn31 {
  top: 355px;
  left: 175px;
}
#btn32 {
  top: 125px;
  left: 225px;
}
#btn33 {
  top: 260px;
  left: 205px;
}
#btn34 {
  top: 355px;
  left: 175px;
}
#btn35 {
  top: 445px;
  left: 185px;
}
#btn36 {
  top: 125px;
  left: 295px;
}
#btn37 {
  top: 254px;
  left: 205px;
}
#btn38 {
  top: 345px;
  left: 190px;
}
#btn39 {
  top: 455px;
  left: 95px;
}

.right {
  position: relative;
  top: 0;
  left: -350px;
  width: 350px;
  height: 500px;
  z-index: 1;
  transition: 0.3s;
}

.outfit {
  width: 100%;
  height: 500px;
  border-radius: 0px 20px 0px 0px;
  background-color: #ffffff;
  overflow-y: scroll;
}

.outfit::-webkit-scrollbar {
  display: none;
}

.vest {
  display: flex;
  flex-direction: row;
  width: 330px;
  margin: 10px;
  height: 100px;
  border-bottom: 1px solid #00000027;
  cursor: pointer;
  transition: 0.4s;
}

.vest-click {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 280px;
  margin: 10px;
  height: 85px;
  border-bottom: 1px solid #00000027;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.199);
  background: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s, top 0.2s;
  transform: scale(1);
  z-index: 999;
}

#vest-click35 {
  width: 320px;
}

#vest-click1:before,
#vest-click3:before,
#vest-click5:before,
#vest-click7:before,
#vest-click9:before,
#vest-click11:before,
#vest-click12:before,
#vest-click13:before,
#vest-click17:before,
#vest-click28:before,
#vest-click31:before,
#vest-click32:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border-bottom: 0.5em solid #ffffff;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  margin: auto;
  left: 0;
  right: 0;
  top: -0.4em;
}

#vest-click2:before,
#vest-click4:before,
#vest-click6:before,
#vest-click8:before,
#vest-click10:before,
#vest-click14:before,
#vest-click15:before,
#vest-click16:before,
#vest-click18:before,
#vest-click19:before,
#vest-click21:before,
#vest-click22:before,
#vest-click23:before,
#vest-click24:before,
#vest-click25:before,
#vest-click29:before,
#vest-click30:before,
#vest-click33:before,
#vest-click34:before,
#vest-click35:before,
#vest-click36:before,
#vest-click37:before,
#vest-click38:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border-top: 0.5em solid #ffffff;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -0.4em;
}

#vest-click20:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border-top: 0.5em solid #ffffff;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  margin: auto;
  left: 150px;
  right: 0;
  bottom: -0.4em;
}

#vest-click39:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border-top: 0.5em solid #ffffff;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  margin: auto;
  left: -120px;
  right: 0;
  bottom: -0.4em;
}

.vest-click:hover {
  transform: scale(1.03);
}

.vest-click img {
  width: 60px;
}

#vest-click1 {
  top: 40px;
  left: 130px;
}

#vest-click2 {
  top: 92px;
  left: 140px;
}

#vest-click3 {
  top: 264px;
  left: 52px;
}

#vest-click4 {
  top: 360px;
  left: 75.5px;
}

#vest-click5 {
  top: 78px;
  left: 90px;
}

#vest-click6 {
  top: 32px;
  left: 135px;
}

#vest-click7 {
  top: 245px;
  left: 85px;
}

#vest-click8 {
  top: 305px;
  left: 45px;
}

#vest-click9 {
  top: 67px;
  left: 30px;
}

#vest-click10 {
  top: 75px;
  left: 105px;
}

#vest-click11 {
  top: 293px;
  left: 25px;
}

#vest-click12 {
  top: 240px;
  left: 131px;
}

#vest-click13 {
  top: 340px;
  left: 110px;
}

#vest-click14 {
  top: 377px;
  left: 185px;
}

#vest-click15 {
  top: 32px;
  left: 115px;
}

#vest-click16 {
  top: 78px;
  left: 185px;
}

#vest-click17 {
  top: 280px;
  left: 85px;
}

#vest-click18 {
  top: 337px;
  left: 10px;
}

#vest-click19 {
  top: 73px;
  left: 150px;
}

#vest-click20 {
  top: 184px;
  left: 195px;
}

#vest-click21 {
  top: 290px;
  left: 85px;
}

#vest-click22 {
  top: 318px;
  left: 210px;
}

#vest-click23 {
  top: 55px;
  left: 170px;
}

#vest-click24 {
  top: 230px;
  left: 95px;
}

#vest-click25 {
  top: 368px;
  left: 130px;
}

#vest-click28 {
  top: 37px;
  left: 100px;
}

#vest-click29 {
  top: 64px;
  left: 170px;
}

#vest-click30 {
  top: 153px;
  left: 85px;
}

#vest-click31 {
  top: 367px;
  left: 32px;
}

#vest-click32 {
  top: 137px;
  left: 80px;
}

#vest-click33 {
  top: 155px;
  left: 60px;
}

#vest-click34 {
  top: 250px;
  left: 30px;
}

#vest-click35 {
  top: 340px;
  left: 20px;
}

#vest-click36 {
  top: 20px;
  left: 150px;
}

#vest-click37 {
  top: 145px;
  left: 60px;
}

#vest-click38 {
  top: 240px;
  left: 45px;
}

#vest-click39 {
  top: 350px;
  left: 10px;
}

.total {
  display: flex;
  flex-direction: row;
  width: 330px;
  margin: 10px;
  height: 100px;
  transition: 0.4s;
}

.vest:hover {
  transform: scale(1.03);
}

.vest img {
  width: 75px;
}

.vest-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
}

#gpost1,
#gpost2,
#gpost3,
#gpost4 {
  box-shadow: 0px 0px 4px 5px rgb(0, 0, 0, 0.18);
  margin-bottom: 60px;
  border-radius: 20px 20px 15px 15px;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  color: black;
}

.desc span {
  font-weight: 600;
}

.desc-click {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  margin-left: 5px;
  color: black;
}

.desc-click span {
  font-weight: 600;
}

.displayNone {
  visibility: hidden;
  transform: translate(0%, 20%) scale(0.01);
  transition: 0.4s;
}

#more1,
#more2,
#more3,
#more4,
#more5 {
  background: #f7f5f5;
  color: #000000;
  width: 500px;
  height: 40px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 0px 0px 15px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.ynwmusic {
  width: 550px;
  margin-bottom: 50px;
}

#more1:hover,
#more2:hover,
#more3:hover,
#more4:hover,
#more5:hover {
  background: #000000;
  color: #ffffff;
}

footer {
  background-color: #241f21;
  padding: 30px 0;
  font-size: 14px;
  box-shadow: 0px 0px 4px 5px rgb(0, 0, 0, 0.18);
}

footer h4 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #ffffff;
}

footer p {
  color: #ffffff;
  margin-bottom: 20px;
  width: 295px;
  text-align: justify;
}

footer img {
  width: 100px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #c7c7c7;
}

footer ul li a:hover {
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (min-width: 768px) {
  .col-md-4 {
    float: left;
    width: 45%;
  }
  .col-md-3 {
    float: left;
    width: 18.3%;
  }
}

.download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download-btn1,
.download-btn2,
.download-btn3,
.download-btn4,
.download-btn5,
.download-btn6,
.download-btn7,
.download-btn8,
.download-btn9 {
  outline: none;
  border: none;
  color: #fff;
  display: flex;
  cursor: pointer;
  padding: 16px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  align-items: center;
  white-space: nowrap;
  background: #000000;
  transition: all 0.2s ease;
}
.download-btn1:hover,
.download-btn2:hover,
.download-btn3:hover,
.download-btn4:hover,
.download-btn5:hover,
.download-btn6:hover,
.download-btn7:hover,
.download-btn8:hover,
.download-btn9:hover {
  background: #252525;
}
.download-btn1 .icon,
.download-btn2 .icon,
.download-btn3 .icon,
.download-btn4 .icon,
.download-btn5 .icon,
.download-btn6 .icon,
.download-btn7 .icon,
.download-btn8 .icon,
.download-btn9 .icon {
  font-size: 1.6rem;
}
.download-btn1 .text,
.download-btn2 .text,
.download-btn3 .text,
.download-btn4 .text,
.download-btn5 .text,
.download-btn6 .text,
.download-btn7 .text,
.download-btn8 .text,
.download-btn9 .text {
  font-size: 1.4rem;
  padding-left: 10px;
}
.download-btn1 .text2,
.download-btn2 .text2,
.download-btn3 .text2,
.download-btn4 .text2,
.download-btn5 .text2,
.download-btn6 .text2,
.download-btn7 .text2,
.download-btn8 .text2,
.download-btn9 .text2 {
  font-size: 1.2rem;
  padding-left: 10px;
}

@media (max-width: 600px) {
  .about {
    width: 70vw;
  }

  .header-title {
    font-size: 68px;
  }

  .titlesinger {
    width: fit-content;
  }

  .titlesinger h1 {
    font-size: 52px;
  }

  .left {
    min-width: 400px;
    height: 400px;
  }

  .image1, .image2, .image3, .image4, .image5, .image6, .image7, .image8, .image9 {
    width: 400px;
    height: 400px;
  }

  .post {
    width: 400px;
    height: 400px;
  }

  .right {
    position: relative; /* Ajusta a posição para que fique abaixo do conteúdo */
    top: 0; /* Remove a posição inicial */
    left: -375px; /* Remove o deslocamento lateral */
    width: 400px; /* Ajusta a largura para ocupar a tela */
    height: 400px; /* Ajusta a altura conforme necessário */
  }

  .outfit {
    height: 400px;
  }

  #more1, #more2, #more3, #more4, #more5 {
    width: 400px;
    position: relative;
    z-index: 10;
  }

  #btn1 {
    top: 25px;
    left: 275px;
  }
  
  #btn2 {
    top: 200px;
    left: 285px;
  }
  
  #btn3 {
    top: 250px;
    left: 197px;
  }
  
  #btn4 {
    top: 470px;
    left: 220px;
  }
  
  #btn5 {
    top: 65px;
    left: 235px;
  }
  
  #btn6 {
    top: 140px;
    left: 280px;
  }
  
  #btn7 {
    top: 230px;
    left: 230px;
  }
  
  #btn8 {
    top: 415px;
    left: 190px;
  }
  
  #btn9 {
    top: 55px;
    left: 175px;
  }
  
  #btn10 {
    top: 180px;
    left: 250px;
  }
  
  #btn11 {
    top: 280px;
    left: 170px;
  }
  
  #btn12 {
    top: 227px;
    left: 276px;
  }
  
  #btn13 {
    top: 330px;
    left: 255px;
  }
  
  #btn14 {
    top: 485px;
    left: 330px;
  }
  
  #btn15 {
    top: 138px;
    left: 260px;
  }
  #btn16 {
    top: 185px;
    left: 330px;
  }
  #btn17 {
    top: 270px;
    left: 230px;
  }
  #btn18 {
    top: 445px;
    left: 155px;
  }
  #btn19 {
    top: 180px;
    left: 295px;
  }
  #btn20 {
    top: 290px;
    left: 415px;
  }
  #btn21 {
    top: 398px;
    left: 230px;
  }
  #btn22 {
    top: 425px;
    left: 355px;
  }
  #btn23 {
    top: 160px;
    left: 315px;
  }
  #btn24 {
    top: 338px;
    left: 240px;
  }
  #btn25 {
    top: 475px;
    left: 275px;
  }
  
  #btn28 {
    top: 25px;
    left: 245px;
  }
  #btn29 {
    top: 170px;
    left: 315px;
  }
  #btn30 {
    top: 258px;
    left: 230px;
  }
  #btn31 {
    top: 355px;
    left: 175px;
  }
  #btn32 {
    top: 125px;
    left: 225px;
  }
  #btn33 {
    top: 260px;
    left: 205px;
  }
  #btn34 {
    top: 355px;
    left: 175px;
  }
  #btn35 {
    top: 445px;
    left: 185px;
  }
  #btn36 {
    top: 125px;
    left: 295px;
  }
  #btn37 {
    top: 254px;
    left: 205px;
  }
  #btn38 {
    top: 345px;
    left: 190px;
  }
  #btn39 {
    top: 455px;
    left: 95px;
  }

  #vest-click1 {
    top: 40px;
    left: 130px;
  }
  
  #vest-click2 {
    top: 92px;
    left: 140px;
  }
  
  #vest-click3 {
    top: 264px;
    left: 52px;
  }
  
  #vest-click4 {
    top: 360px;
    left: 75.5px;
  }
  
  #vest-click5 {
    top: 78px;
    left: 90px;
  }
  
  #vest-click6 {
    top: 32px;
    left: 135px;
  }
  
  #vest-click7 {
    top: 245px;
    left: 85px;
  }
  
  #vest-click8 {
    top: 305px;
    left: 45px;
  }
  
  #vest-click9 {
    top: 67px;
    left: 30px;
  }
  
  #vest-click10 {
    top: 75px;
    left: 105px;
  }
  
  #vest-click11 {
    top: 293px;
    left: 25px;
  }
  
  #vest-click12 {
    top: 240px;
    left: 131px;
  }
  
  #vest-click13 {
    top: 340px;
    left: 110px;
  }
  
  #vest-click14 {
    top: 377px;
    left: 185px;
  }
  
  #vest-click15 {
    top: 32px;
    left: 115px;
  }
  
  #vest-click16 {
    top: 78px;
    left: 185px;
  }
  
  #vest-click17 {
    top: 280px;
    left: 85px;
  }
  
  #vest-click18 {
    top: 337px;
    left: 10px;
  }
  
  #vest-click19 {
    top: 73px;
    left: 150px;
  }
  
  #vest-click20 {
    top: 184px;
    left: 195px;
  }
  
  #vest-click21 {
    top: 290px;
    left: 85px;
  }
  
  #vest-click22 {
    top: 318px;
    left: 210px;
  }
  
  #vest-click23 {
    top: 55px;
    left: 170px;
  }
  
  #vest-click24 {
    top: 230px;
    left: 95px;
  }
  
  #vest-click25 {
    top: 368px;
    left: 130px;
  }
  
  #vest-click28 {
    top: 37px;
    left: 100px;
  }
  
  #vest-click29 {
    top: 64px;
    left: 170px;
  }
  
  #vest-click30 {
    top: 153px;
    left: 85px;
  }
  
  #vest-click31 {
    top: 367px;
    left: 32px;
  }
  
  #vest-click32 {
    top: 137px;
    left: 80px;
  }
  
  #vest-click33 {
    top: 155px;
    left: 60px;
  }
  
  #vest-click34 {
    top: 250px;
    left: 30px;
  }
  
  #vest-click35 {
    top: 340px;
    left: 20px;
  }
  
  #vest-click36 {
    top: 20px;
    left: 150px;
  }
  
  #vest-click37 {
    top: 145px;
    left: 60px;
  }
  
  #vest-click38 {
    top: 240px;
    left: 45px;
  }
  
  #vest-click39 {
    top: 350px;
    left: 10px;
  }
}